<mat-toolbar>
    <span>Asurity Loan Challenge</span>
</mat-toolbar>
<div class="radio-buttons">
    <label id="ratespread-radio-group-label">Filter based on rate spread</label>
    <mat-radio-group
      aria-labelledby="ratespread-radio-group-label"
      class="spread-radio-group"
      [(ngModel)]="selectedSpread">
      <mat-radio-button (change)="filterTrigger($event)" class="spread-radio-button" *ngFor="let spread of rateSpreads" [value]="spread">
        {{spread}}
      </mat-radio-button>
    </mat-radio-group>
</div>
<div class="grid-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    
    <!-- Loan Term Column -->
    <ng-container matColumnDef="loanTerm">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Loan Term </th>
      <td mat-cell *matCellDef="let loan"> {{loan.loanTerm}} years </td>
    </ng-container>

    <!-- Action Taken Type Column -->
    <ng-container matColumnDef="actionTakenType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Action Taken </th>
      <td mat-cell *matCellDef="let loan"> {{loan.actionTakenType}} </td>
    </ng-container>

    <!-- Lock In Date Column -->
    <ng-container matColumnDef="lockInDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Lock-In Date </th>
      <td mat-cell *matCellDef="let loan"> {{loan.lockInDate | date: 'longDate'}} </td>
    </ng-container>

    <!-- Amortization Type Column -->
    <ng-container matColumnDef="amortizationType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amortization Type </th>
      <td mat-cell *matCellDef="let loan"> {{loan.amortizationType}} </td>
    </ng-container>

    <!-- APR Column -->
    <ng-container matColumnDef="apr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> APR </th>
      <td mat-cell *matCellDef="let loan"> {{loan.apr}} % </td>
    </ng-container>

    <!-- Reverse Mortgage Column -->
    <ng-container matColumnDef="reverseMortgage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Reverse Mortgage </th>
      <td mat-cell *matCellDef="let loan"> {{loan.reverseMortgage === 1 ? "Yes" : "No"}} </td>
    </ng-container>

    <!-- Rate Spread Column -->
    <ng-container matColumnDef="rateSpread">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate Spread </th>
      <td mat-cell *matCellDef="let loan"> {{loan.rateSpread}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showPreview(row)" [ngClass]="{'outRange': row.rateSpread > 1.5 }"></tr>
  </table>
  <mat-card *ngIf="isLoadingResults" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-bar color="primary" mode="indeterminate"></mat-progress-bar>
  </mat-card>
  <mat-paginator [length]="resultsLength"[pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>